
body{
  background-color: #983628;
  overflow:hidden;
  font-family:Evangelion;
  margin:0 auto;
}

.body {
  object-fit: contain;
  height:100vh;
  width: 100vw;
 display:grid;
  /* grid-template-columns: 150px repeat(4, 1fr); */
  grid-template-columns:  10vw 1fr 1fr 1fr ;
  /* grid-template-rows:repeat(5, 1fr) 50px; */
  grid-template-rows:1fr 18vh 18vh 18vh 18vh 1fr ;
  grid-column-start:2;
  grid-column-end: 5;
  overflow-y: scroll;
  overflow-x: visible;
  text-align: center;
  background-color: #983628;

   }
   
  
     
   
   .bar{
    grid-area: 1 / 2 / 2 / 6;
    background-color: #A56FC6;
    height:20px;
    align-self: flex-end;
   }
   .baritem1{
    border-right: 10px solid #983628;
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
    
   }
   .baritem2{
    border-right: 10px solid #983628;
    grid-area: 1 / 3 / 2 / 4;
    align-self: flex-end;
   }
   .baritem3{
    border-right: 10px solid #983628;
    grid-area: 1 / 4 / 2 / 5;
    align-self: flex-end;
   }
   .baritem4{
    grid-area: 1 / 5 / 2 / 6;
    align-self: flex-end;
   }
   
   .image{
    grid-area:1 / 2 / 2 / 6;
    object-fit: contain;
    margin:0 auto;
    width: 80%;
    padding-top: 70px;
    height:80%;
   }

   .caption{
    margin-top:25px;
    grid-area:1/2/2/6;
    
    
   }

   
   .sidebar {
    
     display: grid;
     grid-area: 1 / 1 /  -1/ 2;
     grid-template-rows: 100px  600px 1fr;

     padding-right:10px;
     width:1fr;
     background-color:#E2AEDD;
     border-right:3px solid #581908;
     
   }

   .sidelist{
    top:100px;
    width:10vw;

    justify-content: center;
    display:grid;
    grid-template-rows:  repeat(7, 1fr);
    align-items:center;
    grid-row-start:2;
    position:fixed; 
    grid-area: 2 / 1 / 3 / 2;
    line-height: -10%;
   }
   
   .sidelist a:hover{
    color:blue;
    transition: 0.1s;
    
   }
   .navtitle{ 
    grid-area: 2 / 1 / 3 / 2;
    padding: 3%;
   }
   .nav1{
    grid-area: 3 / 1 / 4 / 2;
   }

   .nav2{
    grid-area: 4 / 1 / 5 / 2;
   }
   .nav3{
    grid-area: 5 / 1 / 6 / 2;
   }
   .nav4{
    grid-area: 6 / 1 / 7 / 2;
   }
   .nav5{
    grid-area: 7 / 1 / 8 / 2;
   }
   .circle {
    position:relative;
    width: 120px; 
    height: 120px;
    background: beige;
    border-radius: 60px;
    left: 1%;
    
    text-align:center;
    position:fixed;
    top:5%;
    grid-area: 1 / 1 / 2 / 2;
   }
   .circle p{
    position:relative;
    top:-11%;
    font-size:xxx-large;
    font-family:fantasy;
   }
   

   .content1{
    display:grid;
    grid-area:4/2/5/3;
    
   }
   .contentimg{
    object-fit:contain;
    
    
    width:80%;
    
   }
  #here{
    grid-area:5/2/6/5;
    
  }
    
   .content2{
    grid-area: 4 / 3 / 5 / 4 ;
    
   }
 
   .email{
    grid-area: 3 / 5 / 4 / 6;
    background-color: #E2AEDD;
    border-top: solid 3px #581908;
    border-bottom: solid 3px #581908;
    display:flex;
    justify-content: center;
    align-items: center;
   }
   
   .emailmessage{
    grid-area: 3 / 2 / 4 / 5 ;
    background-color: #E2AEDD;
    border-top: solid 3px #581908;
    border-bottom: solid 3px #581908;
    display:flex;
    justify-content: center;
    align-items: center;
   }
   .content3{
    
    grid-area:4 / 4 / 5 / 5;
   }
   .content4 {
    grid-area: 4 / 5 / 5 / 6 ;
    
    }
    #character-exit{
      display:none;
      
    }

    #character-clear{
      display:none;
      background-color: #983628;
      border: 0px;
     
    }

    #character-exit-html{
      display:none;
      
    }

    #character-clear-html{
      display:none;
      background-color: #983628;
      border: 0px;
     
    }
    tbody tr:nth-child(odd) {
      background-color: #ff33cc;
      
    }
    
    tbody tr:nth-child(even) {
      background-color: #e495e4;
    }
    
    table {
      background-color: #ff33cc;
    }
    @font-face {
      font-family: Evangelion;
      src: url(/font/HussarBoldWebEdition-xq5O.otf);
    }
   
   
   @media only screen and (max-width : 1280px) and (min-width : 701px) {

    .body{
      
      grid-area: 2 / 1 / 5 / 7;
      grid-template-rows:18vh 1fr  18vh 18vh 18vh 4vh;
      grid-template-columns:25vw 25vw 25vw 25vw;
    }
    .image{
      grid-area:2 / 1 / 3 / 5;
    
    }
    .caption{
      grid-area: 2 / 1 / 4 / 5;
    }
    .bar{
      grid-area: 2 / 1 / 3 / 5;

     }
     .baritem1{
      grid-area: 2 / 1 / 3 / 2;
     }
     .baritem2{
      grid-area: 2 / 2 / 3 / 3;
     }
     .baritem3{
      grid-area: 2 / 3 / 3 / 4;
     }
     .baritem4{
      grid-area: 2 / 4 / 3 / 5;
     }
     .content1{
      grid-area:5/1/6/2;
     }
     .contentimg{
      object-fit:contain;
     
     }

     .content2{
      grid-area: 5 / 2 / 6 / 3 ;
  
     }
   
     .email{
      grid-area: 4 / 4 / 5 / 5;
      
      
     }
     .emailmessage{
      grid-area: 4 / 1 / 5 / 4 ;
      
     }
     .content3{
     
      grid-area:5 / 3 / 6 / 4;}
     .content4 {
      grid-area: 5 / 4 / 6 / 5 ;
      }
    .sidebar{
      grid-template-rows: 10vh;
      grid-area: 1 / 1 / 2 / 5;
      position:relative;
      height: 143px;
      border-top: solid 3px #581908;
      border-bottom: solid 3px #581908;
    }
    .sidelist{
      grid-template-columns: 25vw 10vw 10vw 10vw 10vw 10vw 10vw ;
      grid-template-rows: 10vh;
      grid-area: 1 / 1 / 2 / 4;
      top:30px;
      position: relative;
      left: 350px;
    }
    .navtitle{
      grid-area: 1 / 2 / 2 / 3;padding: 3%;
    }
    .nav1{
      grid-area: 1 / 3 / 2 / 4;padding: 3%;
    }
    .nav2{
      grid-area: 1 / 4 / 2 / 5;padding: 3%;
    }
    .nav3{
      grid-area: 1 / 5 / 2 / 6;padding: 3%;
    }
    .nav4{
      grid-area: 1 / 6 / 2 / 7;padding: 3%;
    }
    .nav5{
      grid-area: 1 / 7 / 2 / 8;padding: 3%;
    }
    .circle{
      
      grid-area: 1/1/2/5;
      position:relative;
    }
    .footer{
      height:0px;
      
    }
    .footer p{
      visibility:hidden;
    }
   }

   @media only screen and (max-width : 700px){

    .body{
      overflow-x: hidden;
      grid-template-columns:100vw;
      grid-template-rows: repeat(13 1fr);
    }
    
    .sidebar{
      grid-area: 1 / 1 / 2 / 2;
      height:150px;
      position:relative;
      margin-left: 12%;
    }
    .sidelist{
      grid-template-rows: 1fr;
      grid-template-columns:repeat(6 1fr);
      height:80px;
    }
    .navtitle{
      
      grid-area: 1 / 1 / 2 / 2;
    }
    .nav1{
      grid-area: 1 / 2 / 2 / 3;
    }
    .nav2{
      grid-area: 1 / 3 / 2 / 4;
    }
    .nav3{
      grid-area: 1 / 4 / 2 / 5;
    }
    .nav4{
      grid-area: 1 / 5 / 2 / 6;
    }
    .nav5{
      grid-area: 1 / 6 / 2 / 7;
    }
    .circle{
      top:30%;
      grid-area: 2 / 1 / 3 / 2;    
      position:relative; 
      margin:0 auto;
    }
    .image{
      grid-area: 3 / 1 / 6 / 2;     

    }
    .caption{
      grid-area: 6 / 1 / 7 / 2;      
    }
    .emailmessage{
      padding-top: 5%;
      grid-area: 7 / 1 / 8 / 2;
      
    }
    .email{
      grid-area: 8 / 1 / 9 / 2;
    }
    .content1{
      grid-area: 9 / 1 / 10 / 2;
    }
    .content2{
      grid-area: 10 / 1 / 11 / 2;
    }
    .content3{
      grid-area: 11 / 1 / 12 / 2;
    }
    .content4{
      grid-area: 12 / 1 / 13 / 2;
    }
    .bar{
      visibility:hidden;
    }
    .baritem1{
      visibility:hidden;
    }
    .baritem2{
      visibility:hidden;
    }
    .baritem3{
      visibility:hidden;
    }
    .baritem3{
      visibility: hidden;
    }
    .footer{
      visibility:hidden;

    }
   }
   